SLACK_WEBHOOK_URL=your-slack-webhook-url-here
N8N_WEBHOOK_URL=to-be-generated-when-n8n-workflow-is-built
GOOGLE_SHEET_ID=1vN89Q3uDdH1HpLrx1ER8RavyChJ6IReh13oZSzE64ro
BENZINGA_API_KEY=your-benzinga-api-key-here
